.avatar {
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	z-index: 10;
}

.avatar img {
	display: block;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar--small {
	width: 3rem;
	height: 3rem;
}

.avatar--medium {
	width: 4rem;
	height: 4rem;
}

.avatar--large {
	height: 40vw;
	width: 40vw;
	max-height: 12rem;
	max-width: 12rem;
}
