.user-page {
	margin-top: 4rem;
	font-size: 0;
	color: var(--primary-text);
}

.user-page__cover {
	width: 100%;
}

.user-page__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
	border-bottom: 0.25rem solid var(--divider-color);
}

.user-page__info {
	width: 90%;
	margin: 0 auto;
}

.user-page__info h2 {
	display: inline-block;
	font-size: 2rem;
	font-weight: 600;
	height: 3ex;
	line-height: 3ex;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 1rem;
	text-align: center;
	z-index: 5;
}

.user-page__info p {
	list-style: none;
	line-height: 3ex;
	height: 7.5ex;
	width: 70%;
	margin: 0 auto 0.5rem auto;
	text-align: center;
	font-size: 100%;
	color: var(--divider-color);
}

.user-page__feeds {
	font-size: 16px;
}

@media (max-width: 625px) {
	.user-page__info p {
		height: 10ex;
		width: 75%;
	}
}

@media (max-width: 480px) {
	.user-page__info p {
		width: 90%;
		height: 12.5ex;
	}
}

@media (max-width: 320px) {
	.user-page__info h2 {
		font-size: 1.5rem;
		margin-top: 1rem;
	}

	.user-page__info p {
		height: 15ex;
	}
}
