.blog-list {
	width: 65%;
	color: var(--primary-text);
}

.blog-list__empty {
	text-align: center;
	font-size: 120%;
}

.blog-list__navi {
	background-color: var(--lighter-primary-color);
	margin: 1rem 0;
	display: flex;
}

.blog-list__navi p {
	flex-grow: 1;
	text-align: center;
}

.blog-list__content {
	list-style: none;
	padding-left: 0;
}

.blog-list__header {
	background-color: var(--dark-primary-color);
	text-align: center;
	font-size: 130%;
	color: #ecf0f1;
	border-radius: 6px;
	height: 3.5rem;
	line-height: 3.5rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.blog-list__header h2 {
	margin: 1rem 0;
}

@media (max-width: 768px) {
	.blog-list {
		width: 100%;
		margin: 0.5rem auto;
	}
}
