.blog-item:not(:last-child) {
	margin-bottom: 1.5rem;
}

.blog-item a {
	text-decoration: none;
}

.blog-item__card {
	display: flex;
	align-items: stretch;
	/* height: 10rem; */
	font-weight: 300;
}

.blog-item__image {
	display: flex;
	width: 30%;
	max-width: 300px;
}

.blog-item__image a img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.blog-item__info {
	width: 70%;
	margin-left: 0.5rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-left: 2px solid var(--primary-bg-color);
}

.blog-item__info h2 {
	margin-top: 0;
	font-weight: 500;
}

.blog-item__info h2 a {
	color: var(--secondary-text);
}

.blog-item__info p {
	margin-top: 0;
	margin-bottom: 0;
}

@media (max-width: 625px) {
	.blog-item:not(:last-child) {
		margin-bottom: 1rem;
	}
	.blog-item__info h2 {
		font-size: 110%;
		margin-bottom: 0;
	}
}
