.comment-item {
	margin-top: 0.5rem;
}

.comment-item__card {
	display: flex;
	font-size: 120%;
	font-weight: 300;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.comment-item__anchor {
	display: block;
	color: var(--primary-text);
}

.comment-item__info {
	margin-left: 1rem;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.comment-item__user {
	margin: 0;
}

.comment-item__content {
	margin: 0;
	margin-bottom: auto;
}

.comment-item__time {
	margin-bottom: 0;
	margin-top: auto;
	font-size: 80%;
	text-align: right;
	align-self: flex-end;
}
